---
import Author from "./Author.astro";

export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
  alt: string;
}

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<div class="layout">
  <article class="content">
    <header>
      {heroImage && (
        <img class="hero-image" loading="lazy" src={heroImage} alt={alt} />
      )}
      <p class="publish-date">{publishDate}</p>
      <h1 class="title">{title}</h1>
      <Author name={author} href="https://github.com/bmpickford" />
    </header>
    <main>
      <div><slot /></div>
    </main>
  </article>
</div>

<style>
  main {
    display: grid;
    grid-template-columns: minmax(0.1rem, 1fr) minmax(0, 1000px) minmax(
        0.1rem,
        1fr
      );
    gap: 1em;
    font-family: sans-serif;
    letter-spacing: unset;
  }
  main > div {
    grid-column: 2;
    line-height: 42px;
  }
  .hero-image {
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 1280px;
  }

  @media (max-width: 50em) {
    .hero-image {
      height: 260px;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .content {
    margin-bottom: 8rem;
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  .content :global(h2) {
    margin-top: 4rem;
  }
  header {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  header img {
    max-width: 100vw;
    max-height: 16vh;
  }
  .title,
  .author,
  .publish-date {
    margin: auto;
  }

  .title {
    font-size: 36px;
    font-weight: 700;
  }
</style>
